<!DOCTYPE html>
<html>
<head>
  <title>SurvivorLeague</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <!-- HEADER PARTIAL -->
  <%= render "shared/header" %>

  <!-- BODY -->
  <div class="container-fluid">
    <%= yield %>
  </div>

  <!-- FOOTER PARTIAL -->
  <%= render "shared/footer" %>

</body>
</html>
